*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: sans-serif;
}

body{
  background: #34495e;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 550px;
  background: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card span{
  font-size: 20px;
}
